<h1 class="h1">Resumen del año</h1>

<app-grafica-principal></app-grafica-principal>
<div class="row">
<!-- card1 start -->
  <div class="col-md-6 col-xl-6">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-pie-chart bg-c-blue card1-icon"></i>
        <span class="text-c-blue f-w-600">Gastos Mensuales</span>
        <h4>700 €</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-blue f-16 icofont icofont-info-circle m-r-10"></i>Meses de colchón: 4 meses
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card1 end -->

  <!-- card2 start -->
  <div class="col-md-6 col-xl-6">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-chart-histogram bg-c-green card1-icon"></i>
        <span class="text-c-green f-w-600">Ahorros Totales</span>
        <h4>6000 €</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
          <i class="text-c-green f-16 icofont icofont-tag m-r-10"></i>Total sin inversiones
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card2 end -->
</div>

<div class="row">
  <h3 class="h3" style="width: 20%;">Inversiones</h3>
  <!--<i class="bg-c-blue" style="width: 20%;"></i>-->
</div>

<div class="card widget-card-1 row" style="height: 700px">
  <div class="card-block-small" style="width: 20%; height: 500px">
      <app-barra-inversion1></app-barra-inversion1>
      <h3 class="text-center">texto</h3>
  </div>
  <div class="card-block-small" style="width: 20%; height: 500px">
      <app-barra-inversion2></app-barra-inversion2>
      <h3 class="text-center">texto</h3>
  </div>
  <div class="card-block-small" style="width: 20%; height: 500px">
      <app-barra-inversion3></app-barra-inversion3>
      <h3 class="text-center">texto</h3>
  </div>
  <div class="card-block-small" style="width: 20%; height: 500px">
      <app-barra-inversion4></app-barra-inversion4>
      <h3 class="text-center">texto</h3>
  </div>
  <div class="card-block-small" style="width: 20%; height: 500px">
      <app-barra-inversion5></app-barra-inversion5>
      <h3 class="text-center">texto</h3>
  </div>
</div>

<div class="col-sm-12" style="height: 100px"></div>
