<h1 class="h1">Enero</h1>

<div class="row">
    <div class="card widget-card-1 col" style="height: 700px">
        Ingresos
    </div>
    <div clase="col" style="width: 1px;"></div>
    <div class="card widget-card-1 col" style="height: 700px">
        Gastos Mensuales
    </div>
    <div style="width: 2px;"></div>
    <div class="card widget-card-1 col" style="height: 700px">
        Gastos Personales
    </div>
    <div style="width: 2px;"></div>
    <div class="card widget-card-1 col" style="height: 700px">
        Inversiones
    </div>
    <div style="width: 2px;"></div>
    <div class="card widget-card-1 col" style="height: 700px">
        Ahorros
    </div>
</div>



