<h1 class="h1">Enero</h1>

<div class="row">
    <!--Columna ingresos start-->
    <div class="col">
        <div style="height: 200px;"></div>
        <div class="card widget-card-1 col " style="height: 210px">

            <h4 class="h4 d-flex justify-content-center browser-card  p-b-15">Ingresos</h4>
            
            <div class="browser-card p-b-15 d-flex justify-content-between">
                <p class="d-inline-block m-0 ">Total</p>
                <button class="btn bg-c-blue btn-round float-right btn-browser ">50%</button>
            </div>
            
            <div class="browser-card b-t-default p-t-15 p-b-15 d-flex justify-content-between">
                <p class="d-inline-block m-0 ">Estrategia mensual</p>
                <button class="btn bg-c-pink btn-round float-right btn-browser ">12%</button>
            </div>
            
        </div>
        <app-mostrar-ingresos></app-mostrar-ingresos>
    </div>
    <!--Columna ingresos end-->

    <!--Columna gastos mensuales start-->
    <div class="col">
        <app-grafica-gastos-mensuales></app-grafica-gastos-mensuales>
        <div class="card widget-card-1 col" style="height: 210px">
            <h4 class="h4 d-flex justify-content-center browser-card  p-b-15">Gastos Mes</h4>
            
            <div class="browser-card p-b-15 d-flex justify-content-between">
                <p class="d-inline-block m-0 ">Fondos 40%</p>
                <button class="btn bg-c-blue btn-round float-right btn-browser ">50%</button>
            </div>
            
            <div class="browser-card b-t-default p-t-15 p-b-15 d-flex justify-content-between">
                <p class="d-inline-block m-0 ">Gastos Totales</p>
                <button class="btn bg-c-pink btn-round float-right btn-browser ">12%</button>
            </div>
            <div class="browser-card b-t-default p-t-15 p-b-15 d-flex justify-content-between">
                <p class="d-inline-block m-0 ">Fondos Restantes</p>
                <button class="btn bg-c-pink btn-round float-right btn-browser ">12%</button>
            </div>
        </div>
        <app-mostrar-gastos-mes></app-mostrar-gastos-mes>
        
    </div>
    <!--Columna gastos mensuales end-->

    <!--Columna gastos personales start-->
    <div class="col">
        <app-grafica-gastos-personales></app-grafica-gastos-personales>
        <div class="card widget-card-1 col" style="height: 210px">
            <h4 class="h4 d-flex justify-content-center browser-card  p-b-15">Gastos Ocio</h4>
            
            <div class="browser-card p-b-15 d-flex justify-content-between">
                <p class="d-inline-block m-0 ">Fondos 20%</p>
                <button class="btn bg-c-blue btn-round float-right btn-browser ">50%</button>
            </div>
            
            <div class="browser-card b-t-default p-t-15 p-b-15 d-flex justify-content-between">
                <p class="d-inline-block m-0 ">Gastos Totales</p>
                <button class="btn bg-c-pink btn-round float-right btn-browser ">12%</button>
            </div>
            <div class="browser-card b-t-default p-t-15 p-b-15 d-flex justify-content-between">
                <p class="d-inline-block m-0 ">Fondos Restantes</p>
                <button class="btn bg-c-pink btn-round float-right btn-browser ">12%</button>
            </div>
        </div>
        <app-mostrar-gastos-ocio></app-mostrar-gastos-ocio>
    </div>
    <!--Columna gastos personales end-->

    <!--Columna inversiones start-->
    <div class="col">
        <app-grafica-inversiones></app-grafica-inversiones>
        <div class="card widget-card-1 col" style="height: 210px">
            <h4 class="h4 d-flex justify-content-center browser-card  p-b-15">Inversiones</h4>
            
            <div class="browser-card p-b-15 d-flex justify-content-between">
                <p class="d-inline-block m-0 ">Fondos 20%</p>
                <button class="btn bg-c-blue btn-round float-right btn-browser ">50%</button>
            </div>
            
            <div class="browser-card b-t-default p-t-15 p-b-15 d-flex justify-content-between">
                <p class="d-inline-block m-0 ">Gastos Totales</p>
                <button class="btn bg-c-pink btn-round float-right btn-browser ">12%</button>
            </div>
            <div class="browser-card b-t-default p-t-15 p-b-15 d-flex justify-content-between">
                <p class="d-inline-block m-0 ">Fondos Restantes</p>
                <button class="btn bg-c-pink btn-round float-right btn-browser ">12%</button>
            </div>
        </div>
        <app-mostrar-inversiones></app-mostrar-inversiones>
    </div>
    <!--Columna inversiones end-->

    <!--Columna ahorros start-->
    <div class="col">
        <div style="height: 200px;"></div>
        <div class="card widget-card-1 col" style="height: 210px">
            <h4 class="h4 d-flex justify-content-center browser-card  p-b-15">Ahorros</h4>
            
            <div class="browser-card p-b-15 d-flex justify-content-between">
                <p class="d-inline-block m-0 ">Ahorros</p>
                <button class="btn bg-c-blue btn-round float-right btn-browser ">50%</button>
            </div>
            
            <div class="browser-card b-t-default p-t-15 p-b-15 d-flex justify-content-between">
                <p class="d-inline-block m-0 ">Ahorros Extra</p>
                <button class="btn bg-c-pink btn-round float-right btn-browser ">12%</button>
            </div>
            <div class="browser-card b-t-default p-t-15 p-b-15 d-flex justify-content-between">
                <p class="d-inline-block m-0 ">Ahorros Totales</p>
                <button class="btn bg-c-pink btn-round float-right btn-browser ">12%</button>
            </div>
        </div>
        <app-mostrar-ahorros></app-mostrar-ahorros>
    </div>
    <!--Columna ahorros end-->
</div>



  