<table class="table table-striped">
    <thead>
        <th>Ingreso</th>
        <th>Importe</th>
    </thead>
    <tbody>
        
        <tr *ngFor="let item of movimientosList$|async">
            <td>{{item.nombre}}</td>
            <td>{{item.valor}}</td>
        </tr>
    </tbody>
</table>

<app-model-add-ingresos></app-model-add-ingresos>

<!-- Button trigger modal 
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Insertar ingreso
</button>
  

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Insertar ingreso</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p *ngFor="let type of movimientosList$|async">{{type.nombre}} - {{type.valor}}</p>
      </div>
    </div>
  </div>
</div>
-->


